{% extends 'base.html' %}
{% load static%}

{% block content %}


<!-- Page Header -->
<header class="masthead" style="background-image: url('static/blog/images/home-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>BLOGE</h1>
          {% if not user.is_authenticated %}
          <span class="subheading">A blog by Atharva</span>
          {% endif %}

          {% if user.is_authenticated %}
          <span class="subheading">Welcome, {{ user.first_name }} {{ user.last_name }}</span>
          {% endif %}

          {% if user.is_authenticated %}
          {% if not user.profile %}
          <span class="subheading">Please Create a Profile to start posting!</span>
          {% endif %}
          {% endif %}

          <br>
          {% if messages %}

          <div class="alert alert-success alert-dismissible fade show" role="alert">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          {% endif %}
        </div>

      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      {% for post in object_list %}
      <div class="post-preview">
        <a href="#">
          <h2 class="post-title">
            <a href="{% url 'articleDetail' post.pk %}">{{post.title}} </a>
            <small>
              {% if user.is_authenticated %}
              {% if user.id == post.author.id %}
              <a class="float-right" href="{% url 'delete_post' post.pk %}"><i class="fas fa-trash-alt">&nbsp;</i></a>
              <a class="float-right" href="{% url 'edit_post' post.pk %}"><i class="fas fa-edit">&nbsp;</i></a>
              {% endif %}
              {% endif %}
            </small>

          </h2>
          <p class="post-subtitle">
            {{post.snippet}}
          </p>

          <img src="{{ post.header_image.url }}" style="max-width:100%; max-height:100%;">
        </a>
        <br><br>
        <strong class="post-meta">Posted by
          <a href="{% url 'show_profile_page' post.author.profile.id %}"> {{post.author.first_name}}
            {{post.author.last_name}}</a>
          on {{ post.created_on}} |
          {{ post.category }}</strong>
      </div>
      <br>
      <hr>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock content %}