{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Create Profile
{% endblock %}
{% block content %}

<header class="masthead" style="background-image: url('/static/blog/images/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Create Profile</h1>
                </div>
            </div>
        </div>
    </div>
</header>

{% if user.is_authenticated %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <form method="POST" encType="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="form-group my-4 text-center">
                    <button class="btn btn-primary">Create Profile</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% else %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="control-group">
                <h3>You don't have access!</h3>
            </div>
        </div>
    </div>
</div>
{% endif %}
<br>
{% endblock content %}